{% extends 'base.html' %}
<!--Block Content-->
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">User Dashboard</h1>
        <p class="lead">Manage your images</p>
      </div>
    </div>
  </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        <h3 class="text-center mb-3">Latest Images</h3>
        <div class="row">
          {% if images %}
          <!--for loop start-->
          {% for image in images %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ image.image.url }}" alt="" />
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h3 class="text-primary">{{ image.title }}</h4>
                  <a href="{% url 'image' image.id %}" class="btn btn-primary btn-block">More Info</a>    
                </div>
              </div>
            </div>
          </div>
          <!--for loop end-->
          {% endfor %} {% else %}
          <p>No Image Available</p>
          {% endif %}
        </div>
      </div>
</section>
{% endblock %}
