{% extends 'base.html' %}
<!--Block Content-->
{% block content %}
<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4><i class="fas fa-upload"></i> Upload</h4>
          </div>
          <div class="card-body">
            {% include 'partials/_message.html' %}
            <form
              action="{% url 'upload' %}"
              method="POST"
              enctype="multipart/form-data"
            >
              <!--form from views-->
              {% csrf_token %}
              <!--form must receive csrf token-->
              {% for field in form.visible_fields %}
              <p>
                <!--field render-->
                {% if field.label == 'User' %}
                <!--field-->
                <div style="display: block;height:0;line-height: 0;overflow: hidden;";>
                  {{ field.label }} {{ field }}
                </div>
                <!--if statement-->
                {% else %}
                {{ field.label }} {{ field }}
                <!--not in if statement-->
                {% endif %}
              </p>
              {% endfor %}
              <input type="submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
